<header>
  <ul class="navigation">
    <!--<a [routerLink]="['/']"><img class="navigation-logo" src="../assets/img/logo.png"></a>
    <li><a [routerLink]="['/vote']">Vote</a></li>
    <li><a [routerLink]="['/guide']">Guide</a></li>
    <li><a href="https://firestartermc.tebex.io">Donate</a></li>-->

    <img class="logo" src="../assets/img/logo.png">
  </ul>
</header>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
<footer class="footer">
  <h1>Firestarter</h1>
</footer>
