<div class="row">
  <div class="col-12 section">
    <div class="member">
      <img class="head" src="https://minotar.net/helm/BisforBen/100.png">
      <h1 class="name">BisforBen</h1>
      <h1 class="badge badge-admin">Admin</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/EatingLongFruit/100.png">
      <h1 class="name">EatingLongFruit</h1>
      <h1 class="badge badge-admin">Admin</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/TechToolbox/100.png">
      <h1 class="name">TechToolbox</h1>
      <h1 class="badge badge-admin">Admin</h1>
    </div>
  </div>
  <div class="col-12 section">
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Cuetsu/100.png">
      <h1 class="name">Cuetsu</h1>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Th3SkullR34p3r/100.png">
      <h1 class="name">Th3SkullR34p3r</h1>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/TwistedLines/100.png">
      <h1 class="name">TwistedLines</h1>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Night_Owl/100.png">
      <h1 class="name">Night_Owl</h1>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/iriscow/100.png">
      <h1 class="name">iriscow</h1>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
  </div>
  <div class="col-12 section">
    <div class="member">
      <img class="head" src="https://minotar.net/helm/RicoReckless/100.png">
      <h1 class="name">RicoReckless</h1>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/CodyDoesThings/100.png">
      <h1 class="name">CodyDoesThings</h1>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/WhimsicalRain/100.png">
      <h1 class="name">WhimsicalRain</h1>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/MysticKittyCow/100.png">
      <h1 class="name">MysticKittyCow</h1>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/jotunn09/100.png">
      <h1 class="name">jotunn09</h1>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Chery_Cola/100.png">
      <h1 class="name">Chery_Cola</h1>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
  </div>
</div>
