.member {
  background-color: #EEEEEE;
  border-radius: 0.5em;
  padding: 10px;
  width: 200px;
  display: inline-block;
  margin: 10px;
  height: 230px;
  vertical-align: top;
}
.head {
  border-radius: 0.5em;
  display: block;
  margin: 0 auto 10px;
}
.name {
  color: #393939;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.quote {
  color: #555555;
  font-size: 0.9em;
  text-align: center;
}
.badge {
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.badge-admin {
  background-color: #FF5959;
}
.badge-mod {
  background-color: #FF8E51;
}
.badge-discord-mod {
  background-color: #63CDFF;
}
.badge-architect {
  background-color: #31FF95;
}
.separator {
  background-color: #DBDBDB;
  width: 95%;
}
