<div class="row">
  <div class="col-12 section">
    <div class="member">
      <img class="head" src="https://minotar.net/helm/BisforBen/100.png">
      <h1 class="name">BisforBen</h1>
      <h4 class="quote">"for every enchant, i’m one step closer to suicide"</h4>
      <h1 class="badge badge-admin">Admin</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/EatingLongFruit/100.png">
      <h1 class="name">EatingLongFruit</h1>
      <h4 class="quote">"hi im fruit and im a bad server owner"</h4>
      <h1 class="badge badge-admin">Admin</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/TechToolbox/100.png">
      <h1 class="name">TechToolbox</h1>
      <h4 class="quote">"hi i'm tech and i exist"</h4>
      <h1 class="badge badge-admin">Admin</h1>
    </div>
  </div>

  <hr class="separator"/>

  <div class="col-12 section">
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Cuetsu/100.png">
      <h1 class="name">Cuetsu</h1>
      <h4 class="quote">"i play minecraft at 10 FPS- GeForce 210 is my favorite mousepad."</h4>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/iriscow/100.png">
      <h1 class="name">iriscow</h1>
      <h4 class="quote">"milk"</h4>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Night_Owl/100.png">
      <h1 class="name">Night_Owl</h1>
      <h4 class="quote">"'hoot hoot' - owl mating calls"</h4>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Th3SkullR34p3r/100.png">
      <h1 class="name">Th3SkullR34p3r</h1>
      <h4 class="quote">"ask faith for enchants"</h4>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/TwistedLines/100.png">
      <h1 class="name">TwistedLines</h1>
      <h4 class="quote">"whoever threw that paper, your moms a hoe"</h4>
      <h1 class="badge badge-mod">Mod</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Da_JR_Jesus/100.png">
      <h1 class="name">Da_JR_Jesus</h1>
      <h4 class="quote">"hugs not drugs"</h4>
      <h1 class="badge badge-discord-mod">Discord Mod</h1>
    </div>
  </div>

  <hr class="separator"/>

  <div class="col-12 section">
    <div class="member">
      <img class="head" src="https://minotar.net/helm/Chery_Cola/100.png">
      <h1 class="name">Chery_Cola</h1>
      <h4 class="quote">"no quote- I don't want a quote"</h4>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/CodyDoesThings/100.png">
      <h1 class="name">CodyDoesThings</h1>
      <h4 class="quote">"yare yare daze"</h4>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/jotunn09/100.png">
      <h1 class="name">jotunn09</h1>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/MysticKittyCow/100.png">
      <h1 class="name">MysticKittyCow</h1>
      <h4 class="quote">"can't spell establishment without basement"</h4>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/RicoReckless/100.png">
      <h1 class="name">RicoReckless</h1>
      <h4 class="quote">"y u heff to be mad, is only game"</h4>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/sleepith/100.png">
      <h1 class="name">sleepith</h1>
      <h4 class="quote">"bro cows are cute so keep building"</h4>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
    <div class="member">
      <img class="head" src="https://minotar.net/helm/WhimsicalRain/100.png">
      <h1 class="name">WhimsicalRain</h1>
      <h4 class="quote">"would you like to see my wares?"</h4>
      <h1 class="badge badge-architect">Architect</h1>
    </div>
  </div>
</div>
