<div class="row">
  <div class="col-xl-9">
    <div class="post" *ngFor="let post of posts | async">
      <h2 class="title">{{post.title}}</h2>

      <div markdown [data]="post.content" class="post-content" ngPreserveWhitespaces></div>
    </div>
  </div>
  <div class="col-xl-3 sidebar">
    <h5 class="sidebar-online">🍉 {{online}} players online</h5>
    <div class="discord-sidebar">
      <a href="https://discord.gg/yzj9HrF" data-toggle="tooltip" data-placement="top" title="Click to join the Discord">
        <img class="discord-logo" src="https://discordapp.com/assets/35d75407bd75d70e84e945c9f879bab8.svg">
        <p class="discord-online">{{discordonline}} online</p>
      </a>
    </div>
    <div class="voter-card sidebar-card">
      <h1 class="voter-title">Top voter</h1>
      <div class="row">
        <div class="col-3 col-md-12 col-lg-12 col-xl-3">
          <img class="voter-head" src="https://minotar.net/helm/{{voteruuid}}/100.png">
        </div>
        <div class="col-9 col-md-12 col-lg-12 col-xl-9">
          <p class="voter-name">{{votername}}</p>
          <p class="voter-votes">{{votervotes}} votes</p>
        </div>
      </div>
    </div>
  </div>
</div>
