<div class="banner">
  <div class="hero">
    <h1 class="banner-header">Firestarter</h1>
    <h3 class="banner-description">A friendly, community-driven survival realm.</h3>
    <a class="ip-button" id="ip" [ngStyle]="{'background-color': color}"  (click)="copyIP()">🔥 {{ ip }}</a>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-9">
      <h4 class="header">Announcements</h4>
      <div class="post" *ngFor="let post of posts | async">
        <h2 class="title">{{post.title}}</h2>

        <div markdown [data]="post.content" class="post-content" ngPreserveWhitespaces></div>
      </div>
    </div>
    <div class="col-lg-3">
      <h4 class="header">Status</h4>
      <h5 class="sidebar-online">{{online}} players online</h5>
      <div class="discord-sidebar sidebar-card">
        <img class="discord-logo" src="https://discordapp.com/assets/35d75407bd75d70e84e945c9f879bab8.svg">
        <a class="discord-button" href="https://discord.gg/yzj9HrF">Join</a>
      </div>
      <div class="sidebar-card">
        <h1 class="voter-title">Top voter</h1>
        <div class="row">
          <div class="col-4 col-md-12 col-lg-12 col-xl-4">
            <img class="voter-head" src="https://minotar.net/helm/{{voteruuid}}/100.png">
          </div>
          <div class="col-8 col-md-12 col-lg-12 col-xl-8">
            <p class="voter-name">{{votername}}</p>
            <p class="voter-votes">{{votervotes}}</p>
          </div>
        </div>
      </div>
      <!--<iframe class="discord-card" src="https://discordapp.com/widget?id=609452308161363995&theme=dark" width="100%" height="400" allowtransparency="true" frameborder="0"></iframe>-->
</div>
  </div>
</div>
<footer></footer>

<!--<div class="container-fluid">
  <div class="wrapper">
    <img class="banner" src="../assets/img/banner.png">
    <a class="ip-button" id="ip" [ngStyle]="{'background-color': color}"  (click)="copyIP()">🔥 {{ ip }}</a>
    <h6 class="counter">{{online}} folks online now.</h6>
  </div>
</div>-->
